body {
    background-color: #F9FAFB;
}

#form_wrap {
    background-color: white;
}

#id, #pw, #old_pw, #new_pw, #new_name, #new_tel {
    background-color: white;
    border-color: #DFDFDF;
}

.button {
    color: white;
    background-color: black;
}

.button:hover {
    background-color: #313131;
}

a {
    color: black;
}

a:visited {
    color: black;
}

#check_pw {
    color: white;
    background-color: black;
    border-color: #DFDFDF;
}

#input_pw:disabled {
    background-color: #dddddd;
}

#hide_tel:disabled {
    background-color: white;
}